@import './../../abstracts/variables.scss';

@font-face {
   font-family: 'SF Pro Display';
   src: url(./../../assets/fonts/SFProDisplay-Bold.woff);
   font-weight: 700;
   font-style: normal;
}


a {
   text-decoration: none;
   color: $textColor;
}



.navigation {
   padding-top: 50px;

   font-family: 'SF Pro Display';
   font-weight: 700;
   font-style: normal;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: center;

   display: flex;
   justify-content: space-between;
   align-items: center;

   position: relative;
}

.list {
   display: flex;
   align-items: center;
}

.listItem {
   padding-right: 50px;
}

.listItem:last-child {
   padding-right: 0;
}

.navigationRight {
   display: flex;
   align-items: center;
}

.adress {
   padding-right: 80px;
   position: relative;
}

//.adress::before {
//   content: "";
//   width: 26px;
//   height: 30px;
//
//   background: url(/src/assets/image/icons/location.png) no-repeat;
//
//   position: absolute;
//   top: -9px;
//   left: -26px;
//}

.icons {
   display: flex;
   align-items: center;


}

.icon {
   padding-right: 10px;
}

.icon:last-child {
   padding-right: 0;
}