@import './../../abstracts/variables.scss';
@import './../../abstracts/mixins.scss';

@font-face {
   font-family: 'SF Pro Display';
   src: url(./../../assets/fonts/SFProDisplay-Bold.woff);
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url(./../../assets/fonts/SFProDisplay-Medium.woff);
   font-weight: 500;
   font-style: normal;
}

a {
   text-decoration: none;
   color: $textColor;
}



.navigation {
   padding-top: 50px;


   @include text-edit ('SF Pro Display', 700, 1.25rem, 1.2);
   @include flex-edit (space-between, center);

   letter-spacing: 0em;

   text-align: center;

   position: relative;
}

.list {
   @include flex-edit (space-between, center);
}

.listItem {
   margin-right: 50px;
   transition: all 0.3s ease;

   &:hover {

      transform: scaleX(1.2);
      -webkit-transform: scaleX(1.2);
      -moz-transform: scaleX(1.2);
      -ms-transform: scaleX(1.2);
      -o-transform: scaleX(1.2);
   }
}

.listItem:last-child {
   padding-right: 0;
}

.navigationRight {
   margin-left: 148px;

   @include flex-edit (normal, center);


}

.adress {
   position: relative;
   transition: all 0.3s ease;

   &:hover {
      transform: scaleX(1.1);

   }
}

.adress::before {
   content: "";
   width: 28px;
   height: 30px;

   background: url('./../../assets/image/icons/location.svg') no-repeat;

   position: absolute;
   top: -9px;
   left: -30px;
}

.icons {
   padding-right: 15px;

   @include flex-edit(normal, center);

}

.icon {
   margin-right: 10px;

}

.icon:last-child {
   padding-right: 0;
   position: relative;


}

.icon:last-child::after {
   content: "1";
   width: 20px;
   height: 20px;

   display: block;

   background-color: $accentColor;
   border-radius: 50%;

   position: absolute;
   bottom: 0;
   right: -15px;

   @include text-edit ('SF Pro Display', 500, 0.625rem, 2);

   letter-spacing: 0em;
   text-align: center;

   color: $whiteColor;

}


@media screen and (max-width:1200px) {

   .navigationRight,
   .navigationLeft {
      display: none;
   }

   .icons {
      position: absolute;
      top: 40px;
      right: 0;
   }
}