.stock {
    height: 397px;
    width: 265px;
    border: 1px solid blue;
}

.stockPrice {
    /*font-family: Barlow;*/
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #1C62CD;
    margin-right: 10px;
}

.stockPriceNormal {
    /*font-family: Barlow;*/
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: #c4c4c4;
    margin-right: 5px;
}

.stockPriceNormalWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -35px;
}

.stockPrice::after {
    content: " ₽";
}

.stockPriceNormal::after {
    content: " ₽";
}

.stockImgItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stockTimeAction {
    /*height: 99px;*/
    /*width: 264px;*/
    background-color: #F0F0F4;
}


