@import './../../abstracts/variables.scss';


.burgerMenu {
   position: fixed;
   top: 34px;
   left: 10px;

   cursor: pointer;

   display: none;
}

.burgerInner::before,
.burgerInner::after {
   content: "";
   width: 35px;
   height: 3px;

   background-color: $textColor;

   display: block;

}

.burgerInner::after {
   margin-top: 10px;
}

.burgerInner span {
   margin-top: 10px;

   width: 35px;
   height: 3px;

   background-color: $textColor;

   display: block;
}

@media screen and (max-width:1200px) {
   .burgerMenu {
      display: block;
   }

}