
span{
    display: block;
}

.cardProductContener{
    
    display: flex;
    
}

.cardProductLeftWrap{
    width: 100%;
}
.cardProduct{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardProductSpanTop{
    align-self: flex-start;
    background: #1C62CD;
}



.cardProductRightWrap{
    width: 100%;
}
.cardProductInfoImg{
    display: flex;
}