span {
  display: block;
}

.cardProductContener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px 0 85px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardProductLeftWrap {
  width: 50%;
}

.cardProduct {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.SpanTop {
  position: absolute;
  top: 0;
  left: 0;
  background: #1C62CD;
  padding: 15px 25px;
  color: #fff;
}

.cardProductImg {
  margin-top: 65px;
}

.SpanDiscount {
  position: relative;
  font-size: 30px;
  color: #2F3035;
  margin-top: 20px;
}

.SpanDiscount::before {
  content: "";
  border-bottom: 2px solid #2F3035;
  position: absolute;
  width: 100%;
  height: 50%;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.SpanPrice {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 700;
}

.cardProductSpan {
  margin-top: 20px;
  color: #1C62CD;
  font-size: 15px;
}

.cardProductRightWrap {
  width: 50%;
}

.cardProductInfoImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ProductName {
  font-size: 30px;
}

.Subtitle {
  margin-top: 10px;
  font-size: 15px;
}

.InfoImg {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgVector {
  margin-right: 30px;
}

.imgHealth {
  margin-right: 30px;
}

.ProductDescription {
  margin-top: 50px;
}

.InfoLinkWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.InfoLink {
  margin-right: 35px;
  font-size: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 2px solid #fff;
}

.InfoLink:nth-last-child(1) {
  margin-right: 0;
}

.InfoLink:hover {
  text-shadow: 0 0 1px #333, 0 0 1px #333;
  border-bottom: 2px solid #1C62CD;
}

.cardProductBtn {
  background: #1C62CD;
  padding: 16px 55px;
  font-size: 14px;
  text-transform: uppercase;
  max-width: 180px;
  color: #fff;
  -webkit-transform: translate(80px, -70px);
          transform: translate(80px, -70px);
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1199.98px) {
  .cardProductImg {
    margin-top: 55px;
    max-width: 460px;
  }
  .cardProductLeftWrap {
    padding-left: 10px;
  }
}

@media (max-width: 991.98px) {
  .cardProductImg {
    max-width: 350px;
  }
  .SpanTop {
    font-size: 14px;
    padding: 10px 20px;
  }
  .SpanDiscount {
    font-size: 23px;
  }
  .SpanPrice {
    font-size: 33px;
  }
  .ProductName {
    font-size: 25px;
  }
  .InfoLink {
    font-size: 18px;
  }
  .InfoLink:nth-child(1) {
    margin-right: 25px;
  }
  .cardProductBtn {
    -webkit-transform: translate(80px, -15px);
            transform: translate(80px, -15px);
  }
}

@media (max-width: 767.98px) {
  .cardProductContener {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cardProductRightWrap {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 80%;
  }
  .cardProductLeftWrap {
    padding: 0;
  }
  .DescStringWrap {
    display: none;
  }
  .InfoLinkWrap {
    display: none;
  }
  .cardProductBtn {
    -webkit-transform: translate(0, 45px);
            transform: translate(0, 45px);
  }
  .cardProductImg {
    max-width: 300px;
  }
}

@media (max-width: 575.98px) {
  .ProductName {
    font-size: 22px;
  }
  .SpanDiscount {
    font-size: 18px;
  }
  .SpanPrice {
    font-size: 26px;
  }
  .cardProductBtn {
    width: 90%;
  }
}

@media (max-width: 435.98px) {
  .cardProductBtn {
    max-width: 90%;
  }
  .ProductName {
    font-size: 18px;
  }
}
/*# sourceMappingURL=CardProduct.module.css.map */