.products__slider.swiper-container {
   width: 1170px;
}

.products__slider .swiper-pagination {
   display: none;
}

.products__slider .swiper-button-prev,
.products__slider .swiper-button-next {
   color: #2F3035;
}