.productsSlider.swiperContainer {
   width: 1170px;
}

.productsSlider .swiperPagination {
   display: none;
}

.productsSlider .swiperButton-prev,
.productsSlider .swiperButton-next {
   color: #2F3035;
}