@import './../../../abstracts/variables.scss ';

.productSlider {



   .swiper-conteiner {
      width: 1170px;
   }

   .swiper-wrapper {
      .swiper-slide {
         width: 271px;
         height: 403px;

         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;

         .goodsDiscr {
            text-align: center;
         }

      }
   }

   .swiper-button-prev,
   .swiper-button-next {
      color: $textColor;
   }
}