.baner{
 background-color: #1C62CD;
 width: 100%;
 max-height: 165px;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.banerImg{
   max-width: 175px;
}

.banerText{
   margin: 30px 0;
   font-size: 36px;
   color: #fff;
   max-width: 270px;
   line-height: 36px;
   font-weight: 700;
}