@import "./../../abstracts/variables.scss";


.blokFilter{
   max-width: 300px;
   margin-right: 10px;
}

.component{
   margin-top: 40px;
}
.FilterTitle{
  display: flex; 
}
.filterList{
   display: flex;}
.titleLink{
   text-transform: uppercase;
   margin-right: 40px;
   font-size: 16px;
   color:$lightGrey;
   transition: .2s;
   border-bottom: 2px solid #fff;
   &:hover{
      color:$textColor;
      border-bottom: 2px solid $accentColor;
      text-shadow: 0 0 1px #333, 0 0 1px #333;
   }
}
.availability{
   margin-top: 50px;
}
.checkboxWrap{
   display: flex;
   flex-wrap: wrap;
   // max-width: 230px;
   justify-content: space-between;
   margin-top: 20px;
   margin-right: 60px;
   &:nth-child(3){
      margin-right: 0;
      height: 50px;
   }

   &:nth-child(5){
      margin-right: 0;
      height: 75px;
   }
}

.filterPriseWrap{
   display: flex;
   justify-content: space-between;
}
.spanText{
   display: inline-block;
   color: $lightGrey;
   margin-right: 15px;
   font-size: 14px;
}
.spanNumb{
   display: inline-block;
   color: $textColor;
   border-bottom: 1px solid $textColor;
   font-size: 14px;
}

.filterPowerItem{
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #C4C4C4;
}
.powerItemTitle{
   margin: 20px 0 10px 0;
}

.blokFilterBottom{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.btnWrap{
   margin-top: 20px;
}
.parameters{
   color: $textColor;
   text-align: center;
   margin-top: 15px;
}

.blokFilterBottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

@media screen and (max-width:900px) {
   .blokFilter {
      display: none;
   }
}