@import "./../../abstracts/variables.scss";

.blokInfo{
   width: 100%;
}
.LinkWrap{
   display: flex;
}
.title{
   font-size: 30px;
   margin: 40px 0 0 0;
}

.blokInfoFilter{
   display: flex;
   justify-content: space-between;
   margin: 25px 0 0 0;
}
.FliterLeft{
   display: flex;
}
.FliterLink{
   background: $baseColor;
   margin: 0 10px 0 0;
   cursor: pointer;
   min-width: 70px;
   padding: 5px 25px;
   border-radius: 3px;
   height: min-content;
   &:nth-last-child(1){
      margin: 0;
   }
}
.blokInfoFliterRight{
   display: flex;
   align-items: center;
}

.Select{
   border: 2px solid $baseColor;
   font-size: 14px;
   padding: 10px 20px;
   margin-right: 35px;
}

.InfoBurgers{
   display: flex;
}
.BurgerLeft{
   margin-right: 10px;
}