.blokInfo{
   width: 100%;
}


.blokInfoFilter{
   display: flex;
   justify-content: space-between;
}
.blokInfoFliterLink{
   background: #F0F0F4;
   margin: 0 10px 0 0;
   cursor: pointer;
}
.blokInfoFliterRight{
   display: flex;
}