@import "./../abstracts/variables.scss";

a {
   text-decoration: none;
}

.footerItem {

   margin-right: 100px;
}

.titleWrap{
   display: flex;
   margin: 40px 0 7px 0;
}
.title {
   margin-right: 10px;
}

.arrow{
   display: none;
   position: relative;
   &::before{
      content: "";
      position: absolute;
      top: 50%;
      left: 10px;
      background-image: url("./../assets/image/arrow/Back.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 12px;
      height: 10px;
   }
   cursor: pointer;
}

.itemLink {
   color: $textColor
}


@media (max-width: 1199.98px) { 

   .footerItem {

      margin-right: 70px;
   }

   .item{
      margin-top: 5px;
   }
   .list{
      margin-right: 10px;
   }
}


@media (max-width: 1000px){
   .footerItem{
      margin-right: 40px;
   }
}   

@media (max-width: 850px){
   .footerItem{
      margin: 0;
      width: 100%;
   }

   .titleWrap{
      justify-content: center;
      padding: 10px 0;
      border-top: solid 1px black;
      border-bottom: solid 1px black;
   }
   .arrow{
      display: inline-block;
   }

   .list{
      display: none;
   }
}

@media (max-width: 575.98px) {
   .titleWrap{
      justify-content: space-between;
           
   }
   .title{
      margin: 0 0 0 20px;
   }
   .arrow::before{
      
      left: -40px;
   }
}