@import "./../abstracts/variables.scss";

a {
   text-decoration: none;
}

.footerItem {

   margin-right: 100px;
}

.title {
   margin: 40px 0 0 0;
}

.itemLink {
   color: $textColor
}

.link {
   margin: 45px 0 0 0;
   display: block;
   font-size: 10px;
   color: $textColor;

}